.delete__product-btn:hover {
    color: red;
}
.table>:not(caption)>*>* {
    padding: 1rem 1rem;
}
@media only screen and (max-width: 768px) {
    .user__input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-group {
        width: 100%!important;
    }
    .login {
        margin-right: 0 !important;
        padding:5px;
    }
    .cart {
        margin-right: 0 !important;
        padding: 5px;
    }

}